# Dependencies
/**/**/node_modules
/**/**/eslint.*
# Build output
# /**/**/dist
# Docker files
Dockerfile
.dockerignore
# Git
/**/**/.git
/**/**/.gitignore
/**/**/.gitattributes

# Local development files
.vitepress
.idea
.vscode
.history
.nvmrc
.prettierrc

# documentation
docs
/**/**/assets

*.md