# Backend environment variables sample
# Copy this file to backend/.env or backend/.env.development and fill in your values

NODE_ENV=development
PORT=8000
## Frontend urls
CORS_ORIGIN_URLS=
FRONTEND_BASE_URI=
## Secyrity secrets
COOKIE_SECRET=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
## API documentation
API_DOC_URI=
## Services
POSTGRES_URL=
REDIS_URL=

## SMTP server
SMTP_MAIL_SERVER=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_MAIL_SERVER_PORT=
APP_EMAIL=

## M-Pesa config
CONSUMER_KEY=
CONSUMER_SECRET=
MPESA_API_URL=
MPESA_AUTH_URL=
MPESA_EXPRESS_CALLBACK_URL=
MPESA_EXPRESS_PASSKEY=
MPESA_SHORTCODE=
MPESA_PARTYA=
